html *{
  padding: 0;
  margin:0;
  /* box-sizing: border-box; */
}
body{
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bk-img{
  background-image:url('background2.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: cover;
  filter: blur(1.2px);
  -webkit-filter: blur(1.2px);
}
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    position:sticky;
  }

  .topnav img {
    float:left;
    width: 4%;
    height: 4%;
  }
  .topnav p {
    font-size:20px;
    color:rgb(146, 177, 97);
    padding-top:10px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin:3px;
    text-decoration: none;
    font-size: 10px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 5px;
    padding-right: 50px;
    border: none;
    margin-top: 12px;
    margin-right: 16px;
    font-size: 12px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    
  }
  .container {
    text-align:center;
    /* abhi ke liye ki h bsss */
    /* background-color: rgba(0,0,0);
    background-color: rgba(0,0,0, 0.4); 
    color:rgb(221, 213, 213);  yha tk taaki changes kr sku */

    /* border: 3px solid #ccc9c9; */
    position: absolute;
    left:27%;
    top:10%;
    width:50%;
    height:25%;
    transform: translate(-10%, -10%);
    z-index: 1;
    /* box-sizing:border-box; */
  }
  .container button {
    background-color:#e9e9e9;
    margin:20px;
    box-shadow: 0 6px 6px rgba(122, 122, 122, 0.6);
    cursor: pointer;
    font-size:20px;
  }
  .content {
   text-align:left;
   margin:100px;
   font-size:40px;
   color:rgb(39, 38, 38);
  }
.icons{
  margin-top:20px;
  }
.icons a{
  margin:10px;
  height:40px;
  color:black;

}
.icons  a:hover{
  background-color:transparent;
}